* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
    --theme-blue: #1992d4;
    --theme-grey: #e2e8f0;
    --theme-yellow: #f0b429;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height:100vh;
    width:100vw;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap:48px;
    padding:16px;
    background-color: var(--theme-blue);
    color: white;
    grid-row: 1/-1;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-line {
    display: flex;
    gap:16px;
    align-items: center;
}

.dashboard-header {
    font-size: 24px;
    font-weight: 700;
}

.sidebar-caption {
    font-size: 16px;
}

.sidebar-icon {
    width: 16px;
}

.sidebar-icon-big {
    width: 24px;
}

/* Top banner */
.topbar {
    padding: 16px 32px;
}

.searchbar-line {
    display: flex;
    gap:32px;
    align-items: center;
}

.searchbar-left {
    display: flex;
    gap:16px;
    align-items: center;
    flex: 1;
}

.searchbar-left > input {
    flex: 1;
    max-width: 500px;
    outline: none;
    border: none;
    background-color: var(--theme-grey);
    border-radius: 15px;
    padding: 5px 1ch;
    font-size: 16px;
}

.searchbar-right {
    display: flex;
    gap:24px;
    align-items: center;
}

.profile-small {
    width:20px;
}

.search-icon {
    width:16px;
}

.username {
    font-size: 16px;
    font-weight: 700;
}

/* Bottom of top banner */
.searchbar-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.search-bottom-left {
    display: flex;
    gap:16px;
}

.profile-big {
    width: 40px;
}

.greeting {
    font-weight: 400;
    font-size: 12px;
}

.welcome-username {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
}

.search-bottom-right {
    display: flex;
    gap: 32px;
}

.banner-btn {
    background-color: var(--theme-blue);
    border: none;
    border-radius: 12px;
    padding: 8px 0;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    width:100px;
}

/* Main content */
.main {
    background-color: var(--theme-grey);
    padding: 32px 16px;
}